<form action="/it/words" method="post">
<div class="form-group">
  <label for="word1" style="background-color:#d56345">Cosa vuoi imparare?</label>
  <input type='text' class="form-control" id='word1' name='word1' placeholder="Predefinito: python">
</div>
<div class="form-group">
  <label for="word2" style="background-color:#d56345">Cosa sai di questo argomento?</label>
  <input type='text' class="form-control" id='word2' name='word2' placeholder="Predefinito: niente">
</div>
<button type="submit" class="btn btn-primary btn-block mt-3" style="background-color:#d56345">Invia</button>
</form>